*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: helvetica, arial ,sans-serif;
}

.nav1 ul, .nav2 ul {
  padding-left: 0;
  display: flex;
}

ul {
  list-style-type: none;
}

.nav1 {
  height: 4em;
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}

.brands, .login, .categories {
  display: flex;
}

li {
  padding: 0 1em;
}

.nav2 {
  height: 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
}

.nav2 img {
  height: 3em;
  width: auto;
}

.main-area {
  height: 40em;
  width: 100%;
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  flex: 1;
}

.main-info {
  text-align: right;
  margin-right: 5em;
}


.second-area {
  display: flex;
  color: #ffffff;
  background-color: #191919;
  justify-content: space-between;
}

.social {
  text-align: right;
}

.social ul {
  display: flex;
}

.social li {
  padding: 0 .5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  color: #ffffff;
  background-color: #191919;
}

.footer ul {
  display: flex;
  align-items: center;
}
